@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'TaipeiHeiti';
  src: url('/ap-next/fonts/TaipeiSansTCBeta-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TaipeiHeitiBold';
  src: url('/ap-next/fonts/TaipeiSansTCBeta-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TaipeiHeitiLight';
  src: url('/ap-next/fonts/TaipeiSansTCBeta-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


@keyframes fadeOutUpwards {
  from {
    transform: translateY(10%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.fadeOutUpwards {
  animation: fadeOutUpwards 1s ease-in-out forwards;
}

